extends ../_layouts/feed

block content
  .row.justify-content-center
    .col-12.col-md-6
      h1.text-center= group.name
      .card.bg-light
        .card-body
          form.text-center(action=`/edit-group/${group._id}?_method=put`, method="post")
            .input-group.input-group-sm
              input#groupInput.form-control(type="text" autocomplete="off" value=group.name name="nameGroup" readonly aria-describedby="button-addon2")
              button.d-none.btn.btn-success.btn-sm.me-1(type="submit") บันทึก
              button.btn.btn-secondary.btn-sm(type="button" id="button-addon2")
                i.bi.bi-pencil
        .card-body
          form.text-center(action=`/todos/${group._id}`, method="post")
            input.form-control(type="text" autocomplete="off" name="text" placeholder="ระบุรายการ..." required)
            button.btn.btn-primary.mt-3 เพิ่มรายการ
          .card-body
            ul.list-group
              each list in lists
                li.list-group-item.d-flex.align-items-center
                  div
                    a.btn(class=`btn-sm ${list.isDoneId !== null ? 'btn-success' : 'btn-outline-success'} me-1` href=`/update-list/status/${list._id}`)
                      i.bi.bi-check
                  span.me-auto=list.body
                  form.d-none.me-auto(action=`/todos/${list._id}?_method=put` method="post")
                    .input-group
                      input.form-control.form-control-sm(type="text" autocomplete="off" name="text" value=list.body)
                      button.btn.btn-success.btn-sm(type="submit") บันทึก
                  button.btn.btn-secondary.btn-sm.me-1(type="button" class={ 'd-none': list.isDone } onclick="editTodo(event)") แก้ไข
                  form(action=`/todos/${list._id}?_method=delete`, method="post")
                    button.btn.btn-danger.btn-sm ลบ
  script.
    function editTodo(event) {
      const listItem = event.target.closest('li')
      listItem.querySelector('span.me-auto').classList.add('d-none')
      listItem.querySelector('form.d-none').classList.remove('d-none')
    }

    function saveEdit(event) {
      const listItem = event.target.closest('li')
      listItem.querySelector('span.me-auto').classList.remove('d-none')
      listItem.querySelector('form.d-none').classList.add('d-none')
    }
    document.addEventListener("DOMContentLoaded", function() {
      // รับอินพุตและปุ่ม
      const groupInput = document.getElementById("groupInput")
      const submitButton = document.querySelector('.btn-success')
      const editButton = document.getElementById("button-addon2")

      // เพิ่มตัวฟังเหตุการณ์การคลิกลงในปุ่มแก้ไข
      editButton.addEventListener("click", function() {
        // สลับแอตทริบิวต์แบบอ่านอย่างเดียวของอินพุต
        groupInput.readOnly = !groupInput.readOnly

        // สลับการเปิดเผยปุ่มส่ง
        submitButton.classList.toggle('d-none')

        // สลับสีปุ่มและไอคอน
        editButton.classList.toggle('btn-secondary')
        editButton.classList.toggle('btn-danger')
        editButton.querySelector('i').classList.toggle('bi-pencil')
        editButton.querySelector('i').classList.toggle('bi-x')
      })
    })

